body {
    margin: 0;
    font-size: 14px;
  }

  .layout {
    padding: 0 50px;
    background-color: #001529;
    overflow: hidden;
    display: flex;
  }

  .header {
    align-items: stretch;
  }

  .logo {
    color: white;
    margin: 16px 28px 16px 0;
    display: flex;
    align-items: center;
    width: 120px;
  }
  
  .logo > img {
    height: 31px;
  }

  .menu { 
    color: #ffffffa6;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  .menu:hover {
    color: white;
    transition: color 300ms;
  }

  .menu.active {
    background-color: #1890ff;
  }

  .footer {
    color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    /* position: fixed;  */
    bottom: 0;
  }
  
  ul.about-us {
    list-style: none;
    padding: 0;
  }

  .colorful-content > .title {
    display: inline-block;
    margin-right: 5px;
  }

  .colorful-content > .content {
    color: #1890ff;
  }

  .colorful-content > .content a {
    color: inherit;
    text-decoration: none;
  }

  .help-and-support {
    width: 300px;
  }
  .sign-in
  { margin: 10% auto;
    max-width: 300px;
    text-align: center;
  } 
  .sign-in > p > span{
    font-weight: 700;
  }

  .input-text
  {
    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  }
  .sign-in button
  {
    width: 100%;
    line-height: 1.5;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  }
  
  .btn{
    color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  }

  .btn:focus, .btn:hover
  {
    color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
  }

input[type=checkbox]{
  width: 14px;
  height: 14px;
}
.remember-me{
float:left;
}
.handle-info{
margin-bottom: 47px;
}
.handle-info > a{
float:right;
color: #1890ff;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}
.register{
float:left;
margin-top:0px
}
.register > a{
color: #1890ff;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}